body {
  font-family: Georgia, serif;
}

a, a:hover {
    color: black;
}

.bg-deepBlue {
    background-color: #3b679d;
}

.close {
    color: white;
}

.bg-whiteblue {

    background-color: #1b9ca6;
}

.contacto {
    width: 256px;
    max-height: 95px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #3b679d;
    float: left;
}

.contacto:hover {
    background-color: #d9eaff;
}

.contactoBody {
    width: 205px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactoHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
}

[id^=deleteContacto] {
    float: right;
    padding: 5px;
    margin-top: -25px;
    font-size: 11px;
}

#contactsContent {
    display: block;
    background-color: #80808014;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    min-height: 500px;
    max-height: 750px;
    margin-top: 10px;
    overflow-y:auto
}

.contactoShow{
    padding:10px;
}
.contactoShow:hover{
    background-color: #d9eaff;
}

#pesquisaDeContactos{
    max-height: 400px;
}
[id^=adicionarContacto] {
    float:right;
    font-size: 30px;
    margin-top: -17px;
    color:green !important;
    cursor: pointer;
}

.tarefaContent{
    min-height: 500px;
    max-height: 750px;
    margin:10px;
    background-color: #80808014;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    display:block
}

.tarefaContentHeader {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:17px;
}