{% extends 'template.html' %}


{% block title %}
Agenda
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

<h3>Tarefas</h3>
<div class="row"  ondrop="drop0(event)" >
    <div class="col-md-3  offset-md-9">
        <input class="form-control" type="text" placeholder="Pesquisar" name="pesquisar" id="pesquisar"
               onkeyup="search()"></div>
</div>

<div class="row"  >
    <div class="col-md-4 ">
        <div class="row tarefaContent"  ondrop="drop2(event)" ondragover="allowDrop2(event)" ondragleave="leave2(event)">
            <div class="tarefaContentHeader  bg-success text-white">Completos</div>
            <div id="completed"></div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="row tarefaContent"  ondrop="drop1(event)" ondragover="allowDrop1(event)" ondragleave="leave1(event)">
            <div class="tarefaContentHeader  bg-info text-white">Em progresso</div>
            <div id="ongoing"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row tarefaContent"  ondrop="drop0(event)"  ondragover="allowDrop0(event)"  ondragleave="leave0(event)">
            <div class="tarefaContentHeader bg-warning text-white">Em espera</div>
            <div id="waiting"></div>
        </div>
    </div>
</div>


<a  class="btn btn-primary" style="float:right; margin:10px;" href="tarefas/criar">Adicionar tarefas
</a>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='javascript/tarefas.js') }}"></script>
{% endblock %}